<div class="home-container">
  <div class="home-header">
    <h2>Bienvenido, {{ usuario?.nombres }} {{ usuario?.apellidos }}</h2>
    <p>Rol: {{ usuario?.rol?.nombre }}</p>
    <button (click)="onLogout()">Cerrar sesión</button>
    <button (click)="irAAnuncios()">Gestionar anuncios</button>
  </div>

  <h3>Usuarios registrados</h3>
  <table class="tabla-usuarios">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Usuario</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios">
        <td>{{ u.id_usuario }}</td>
        <td>{{ u.nombres }}</td>
        <td>{{ u.apellidos }}</td>
        <td>{{ u.correo }}</td>
        <td>{{ u.telefono }}</td>
        <td>{{ u.nombre_usuario }}</td>
        <td>{{ u.rol?.nombre }}</td>
      </tr>
    </tbody>
  </table>

</div>